# Dependencies
node_modules/
.firebase/

# Unity
unity-project/Library/
unity-project/Temp/
unity-project/Obj/
unity-project/Build/
unity-project/Builds/
unity-project/Logs/
unity-project/UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
.firebaserc.backup
firebase-debug.log

# Logs
*.log
npm-debug.log*
